@import '/src/Components/Colors.css';

.loader{
    border: 3px solid #474747;
    border-top: 3px solid #8B8B8B;
    width:12px;
    height:12px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }