@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import '/src/Components/Colors.css';

.textfield{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

label{
    color: var(--Thundora, #404040);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
}

input{
    display: flex;
    width: 150px;
    height: 34px;
    padding: 0px 10px;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--Manatee, #97999C);
    background: var(--White, #FFF);

    overflow: hidden;
    color: var(--Black, #000000);
    
    text-overflow: ellipsis;
    /* Text Field/Placeholder */
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
}

input::placeholder{
    color: var(--Manatee, #97999C);
    font-weight: 400;
}

input:focus {
    outline: none; /* Remove default focus outline */
    border: 1px solid var(--RoyalBlue, #4758DC);
    box-shadow: 0px 0px 10px 0px rgba(71, 88, 220, 0.15);
}

.disabled{
    background: var(--Gallery, #EFEFEF);
    cursor:not-allowed;
}

.errored{
    border: 1px solid var(--Jaffa, #F2994A);
}

.errored:focus{
    border: 1px solid var(--Jaffa, #F2994A);
    box-shadow: 0px 0px 10px 0px rgba(242, 153, 74, 0.15);
}

